.main-wrapper {
  background-image: url(../assets/uzor_content.png);
  background-color: #fffee5;
  background-position: left top;
  min-height: 100%;
}
.top_wrap {
  display: flex;
  justify-content: space-between;
  height: 192px;
  background-image: url(../assets/center_top.png);
  // background-repeat: no-repeat;
  background-position: center;
  // background-color: #16174d;
  padding: 20px;
  box-sizing: border-box;
}
.fon_top {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 192px;
  background-image: url(../assets/center_top_fon.png);
  background-repeat: repeat-x;
  background-position: 1px center;
}

.l_logo {
  position: relative;
  display: block;
  cursor: pointer;
  height: 126px;
  background-image: url(../assets/vol2.png);
  background-repeat: no-repeat;
  background-position: center top;
  width: 120px;
}
.center-logo_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center_logo {
  background-image: url(../assets/om_top.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 102px;
  width: 90px;
}
.text_wrap {
  margin-top: 22px;
}
.r_logo {
  position: relative;
  display: block;
  height: 126px;
  width: 120px;
  background-image: url(../assets/ved_gerb2.png);
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}
