.horizontal-multilevel-menu_wrap {
  position: relative;
  display: flex;
  justify-content: left;
  margin: 10px 25px;
  border-radius: 5px;
  border: dotted 1px #ffe391;
  padding: 0;
  background: url(../assets/5_.png);
  min-height: 27px;
  width: auto;
  line-height: 21px;
}
.dictionary-letter_wrap {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial;
  font-size: 14px;
}
.dictionary-letter_wrap:hover {
  background: rgba(255, 227, 145, 0.4);
  // border: dotted 1px #ff7200;
  cursor: pointer;
  border-radius: 5px;
}
.dictionary-target_letter {
  color: #ff7200;
  font-family: "Academy,Serif";
  font-size: 12pt;
  font-weight: bold;
  padding: 7px 8px;
  box-sizing: border-box;
}
.dictionary-word-list_wrap {
  position: absolute;
  width: 147px;
  top: 35.5px;
  z-index: 100;
  height: auto;
  border: dotted 1px #ffe391;
  background: rgba(255, 227, 145, 0.3);
  // border: dotted 1px #ff7200;
  // border: 1px solid #263780;
  border-radius: 5px;
}
.dictionary-target_word {
  // width: 100%;
  // border-bottom: 1px solid #dedede;
  display: block;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #000068;
  font-family: "Academy,Serif";
}
.dictionary-target_word:hover {
  background: rgba(255, 227, 145, 0.3);
}
.main-wrapper {
  background-image: url(../assets/uzor_content.png);
  background-color: #fffee5;
  background-position: left top;
  min-height: 100%;
}
.top_wrap {
  display: flex;
  justify-content: space-between;
  height: 192px;
  background-image: url(../assets/center_top.png);
  // background-repeat: no-repeat;
  background-position: center;
  // background-color: #16174d;
  padding: 20px;
  box-sizing: border-box;
}
.l_logo {
  position: relative;
  display: block;
  cursor: pointer;
  height: 126px;
  background-image: url(../assets/vol2.png);
  background-repeat: no-repeat;
  background-position: center top;
  width: 120px;
}
.center_logo {
  background-image: url(../assets/om_top.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 102px;
  width: 90px;
}
.r_logo {
  position: relative;
  display: block;
  height: 126px;
  width: 120px;
  background-image: url(../assets/ved_gerb2.png);
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}
.fon_top {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 192px;
  background-image: url(../assets/center_top_fon.png);
  background-repeat: repeat-x;
  background-position: 1px center;
}
.center-logo_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_wrap {
  margin-top: 22px;
}
.dec {
  position: absolute;
  top: 3px;
}
.right_dec {
  right: -16px;
}
.left_dec {
  left: -16px;
}
.gerb_wrap {
  position: relative;
  z-index: 3;
  width: 300px;
  height: 300px;
  background-image: url(../assets/om_big.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.g_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66.5vh;
}
.main_text {
  color: #ff7200;
  padding-bottom: 10px;
  font-family: "Academy,Serif";
  font-weight: bold;
  text-align: center;
}
