<h1 class="main_text">Словарь ведических терминов</h1>
<div class="horizontal-multilevel-menu_wrap">
  <p class="dec left_dec">
    <img src="../assets/strelka_left_shadow.png">
  </p>
  <p class="dec right_dec">
    <img src="../assets/strelka_right_shadow.png">
  </p>
  <div class="dictionary-letter_wrap" *ngFor="let item of dataStructure | keyvalue" (mouseenter)="showLetters(item.key)"
    (mouseleave)="hideLetters()">
    <p class="dictionary-target_letter" (click)="selectLetter(item.key)">
      {{item.key}}
    </p>
    <div class="dictionary-word-list_wrap" *ngIf="showLettersFlag && showLetter === item.key">
      <p class="dictionary-target_word" *ngFor="let element of dataStructure[item.key]"
        (click)="selectElement(item.key, element)">
        {{element.list}}
      </p>
    </div>
  </div>
</div>

<div class="words_list" *ngIf="showWrapper === 'list'">
  <div class="inp_wrap">
    <p class="search"></p>
    <input class="input-general" type="text" placeholder="Введите термин">
  </div>
  <div>
    <ul>
      <li class="descr_par" *ngFor="let letter of dataStructure[selected]">
        <a (click)="selectElement(selected, letter)">{{letter.Name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="description-block_wrap" *ngIf="showWrapper === 'description'">
  <div class="n_wrap">
    <p class="decor r_decor"></p>
    <p class="decor l_decor"></p>
    <p class="name_par">{{selected.Name}}</p>
  </div>
  <p class="descr_par">{{selected.Description}}</p>
</div>

<!-- <div class="g_wrapper">
  <div class="gerb_wrap"></div>
</div> -->
