@font-face {
  font-family: "Andantino script";
  src: url("../../assets/fonts/andantino-script.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/andantino-script.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/andantino-script.otf")
      format("opentype"),
    /* Open Type Font */ url("../../assets/fonts/andantino-script.svg")
      format("svg"),
    /* Legacy iOS */ url("../../assets/fonts/andantino-script.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../../assets/fonts/andantino-script.woff")
      format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/andantino-script.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.hor_wrapper {
  display: flex;
  justify-content: center;
}
.horizontal-multilevel-menu_wrap {
  position: relative;
  display: flex;
  justify-content: left;
  margin: 10px 25px;
  border-radius: 5px;
  border: dotted 1px #ffe391;
  padding: 0;
  background: url(../../assets/5_.png);
  min-height: 27px;
  width: fit-content;
  line-height: 21px;
}
.dictionary-letter_wrap {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial;
  font-size: 21px;
}
.dictionary-letter_wrap:hover {
  background: rgba(255, 227, 145, 0.4);
  // border: dotted 1px #ff7200;
  cursor: pointer;
  border-radius: 5px;
}
.dictionary-target_letter {
  color: #ff7200;
  font-family: "Academy,Serif";
  font-size: 12pt;
  font-weight: bold;
  padding: 7px 8px;
  box-sizing: border-box;
}
.dictionary-word-list_wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // flex-wrap: wrap-reverse;
  width: auto;
  // min-width: 180px;
  top: 35.5px;
  z-index: 100;
  height: auto;
  // border: dotted 1px #cecbc2;
  // background: rgba(255, 227, 145, 0.3);
  background: #fff3c3;
  // border: dotted 1px #ff7200;
  // border: 1px solid #263780;
  border-radius: 5px;
  max-height: 500px;
}
.dictionary-target_word {
  // width: 100%;
  // border-bottom: 1px solid #dedede;
  background: #fff3c3;
  display: block;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #000068;
  font-family: "Academy,Serif";
  border: dotted 1px #cecbc2;
  // width: fit-content;
}
.dictionary-target_word:hover {
  color: #2222ca;
  // background: rgba(255, 227, 145, 0.3);
}
.dec {
  position: absolute;
  top: 3px;
}
.right_dec {
  right: -16px;
}
.left_dec {
  left: -16px;
}
.gerb_wrap {
  position: relative;
  z-index: 3;
  width: 300px;
  height: 300px;
  background-image: url(../../assets/om_big.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 20px 0;
}
.g_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  // margin-top: 20px;
}
.main_text {
  color: #ff7200;
  padding-bottom: 10px;
  font-family: "Academy,Serif";
  font-weight: bold;
  text-align: center;
}
//////////////////////words
.description-block_wrap {
  margin: 10px 25px;
}
.name_par {
  font-family: "Andantino script";
  color: #f46600;
  font-size: 3em;
  width: fit-content;
  margin: 20px;
}
.n_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
.decor {
  position: absolute;
  background: url(../../assets/uzor_top.png);
  width: 138px;
  height: 18px;
}
.decor.l_decor {
  left: -125px;
}
.decor.r_decor {
  right: -125px;
}
.descr_par {
  font-family: "Academy,Serif";
  font-size: 21px;
  color: #000068;
}
li.descr_par {
  margin-bottom: 8px;
}
.words_list {
  margin: 35px 23px 35px 35px;
}
.inp_wrap {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  position: relative;
}
.search {
  position: absolute;
  background: url(../../assets/search.png) left no-repeat;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 3px;
  cursor: pointer;
}
.input-general {
  // background: url(../../assets/search.png) left no-repeat;
  // background-size: 32px 32px;
  // background-position: 6px 5px;
  font-family: "Academy,Serif";
  background: rgba(255, 227, 145, 0.3);
  font-size: 20px;
  padding: 0 30px 0 15px;
  color: #000068;
  border: 1px solid #ffd666;
  width: 250px;
  height: 30px;
  border-radius: 6px;
  // margin: ;
  // padding: ;
}
.input-general:focus {
  outline: rgba(255, 227, 145, 0.3);
}
.input-general::placeholder {
  font-family: "Academy,Serif";
  font-size: 20px;
  color: #000068;
  // color: #fff;
}
